@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

header{
  text-align: center;
  background-color: rgb(136, 41, 41);
  font-family: 'Cinzel', serif;
  display: block;
  padding: 5px;
  border: 5px black solid;
  font-size: 20px;
  margin-top: 5px;
}

main{
  display: flex;
  justify-content: center;
  background-color: lightcoral;
  padding: 40px;
  border-bottom: 5px black solid;
  border-left: 5px black solid;
  border-right: 5px black solid;
  height: auto;
  width: auto;

}

.board{
  width: 420px;
  height: 420px;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: navajowhite;
 
}

.cell{
  border: 3px solid rgb(16, 11, 11);
  height: 60px;
  width: 147px;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  font-size: 50px;
}

.hide{
  display: none;
}

.winner{
  background-color: crimson;
}

